<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Detail</title>
</head>

<body>
    <h1>Item Detail</h1>

    <p>Item Name: {{marketitem.item_name}}</p>
    <p>Description: {{marketitem.item_description}}</p>
    <p>Price: {{marketitem.item_price}}</p>
    <p>Item Quantity: {{marketitem.item_quantity}}</p>
    <p>Is Quantity Frozen: {{marketitem.item_freeze_quantity}}</p>
    <p>Category: {{marketitem.item_category_id}}</p>
    <p>Is Item Featured: {{marketitem.item_is_featured}}</p>
    <p>Date Added: {{marketitem.item_date_added}}</p>

</body>

</html>